<h1>¡Aquí está tu receta!</h1>
<p><strong>Categoría:</strong> {{category}}</p>
<p><strong>Descripción:</strong> {{description}}</p>
<p><strong>Calorías:</strong> {{calories}}</p>
<p><strong>Likes:</strong> {{likes}}</p>
<p><strong>Retweets:</strong> {{retweets}}</p>
<p><strong>Puntuación:</strong> {{score}}</p>
<img src='{{image}}' alt='Receta' style='width: 300px; height: auto;' />
<h2>Ingredientes:</h2>
<ul>
  {{#each ingredients}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<h3>Comentarios:</h3>
<ul>
  {{#each comments}}
    <li>{{this}}</li>
  {{/each}}
</ul>